# Copy sang .env và điền. KHÔNG commit .env
OWM_API_KEY=dan_key_cua_ban_vao_day

# Trong container dùng service name, chạy trực tiếp trong WSL dùng localhost
KAFKA_BOOTSTRAP=localhost:9092
HDFS_URI=hdfs://namenode:9000
HBASE_ZK=zookeeper:2181

AQI_STANDARD=VN_1459
COLLECT_INTERVAL_MIN=60
